services:
  api:
    build: 
      context: .
      dockerfile: docker/app.Dockerfile
    container_name: fintrac_server
    restart: always
    env_file: .env
    ports:
      - "8000:8000"  
    environment:
      DB_POSTGRES_HOST: db  
      REDIS_HOST: redis
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_BACKEND_URL: redis://redis:6379/1
    depends_on:
      - db
      - redis
  
  celery_worker:
    build: .
    container_name: fintrac-celery_worker
    command: celery -A worker.app worker --loglevel=INFO
    restart: always
    env_file: .env
    depends_on:
      - api
      - redis
      - db

  celery_beat:
    build: .
    container_name: fintrac-celery_beat
    command: celery -A worker.app beat --loglevel=INFO
    restart: always
    env_file: .env
    depends_on:
      - api
      - redis
      - db

  flower:
    build: .
    container_name: celery_flower
    command: celery -A worker.app flower --port=5555
    restart: always
    env_file: .env
    environment:
      DB_POSTGRES_HOST: db
    ports:
      - "5555:5555" 
    depends_on:
      - celery_worker
      - redis

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${DB_POSTGRES_PASSWORD}
      POSTGRES_DB: ${DB_POSTGRES_NAME}
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_server
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "8080:80"
    depends_on:
      - db 
  
  redis:
    image: redis:7-alpine
    container_name: redis_server
    restart: always
    ports:
      - "6380:6379"      
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: